{% extends "base.html" %}

{% block title %}suryansh.xyz{% endblock %}

{% block content %}
    <!-- Articles -->
    <ul class="article-list">
        <li class="article-item">
            <p>Apr 7, 2018</p>
            <h3>
                <a href="articles/nn_aynk">
                    Neural Networks: All You Need to Know
                </a>
            </h3>
            <p>
                The backbone of any large scale ML project starts with a Network… A Neural Network and Here’s all you need to know about them.
            </p>
        </li>

        <li class="article-item">
            <p>Mar 26, 2018</p>
            <h3>
                <a href="articles/ga_nn">
                    Genetic Algorithms + Neural Networks = Best of Both Worlds
                </a>
            </h3>
            <p>
                Neural Networks coupled with Genetic Algorithms can really accelerate the learning process to solve a certain problem.
            </p>
        </li>

        <li class="article-item">
            <p>Mar 12, 2018</p>
            <h3>
                <a href="articles/gradient_descent">
                    Gradient Descent: All You Need to Know
                </a>
            </h3>
            <p>
                Gradient Descent is the most used learning algorithm in Machine Learning and this post will show you almost everything you need to know about it.
            </p>
        </li>

        <li class="article-item">
            <p>Feb 28, 2018</p>
            <h3>
                <a href="articles/ml_resources">
                    Don't know these Machine Learning Resources? You’re missing out!
                </a>
            </h3>
            <p>The resources you need to get started with machine learning.</p>
        </li>
    </ul>
{% endblock %}
